@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.form-login-container {
  border: 2px solid black;
  border-radius: 20px;
  font: 1.5rem "Sora", sans-serif;
  display: flex;
  align-items: left;
  width: 40%;
  flex-direction: column;
  margin: 5rem auto;
  height: 30rem;
  position: relative;
}

.header {
  margin: 1rem auto;
}

.input-group {
  margin: 3rem 2rem;
  width: 100%;
  position: relative;
}

.login-input {
  width: 50%;
  margin-left: 2rem;
  height: 2.2rem;
  font-size: 1rem;
  /* justify-content: right;    
    align-self: flex-end; */
  flex-shrink: 1;
  position: absolute;
  margin-right: 5px;
  right: 15%;
  top: 50%;
  transform: translate(0%, -50%);
}

.login-btn {
  width: 30%;
  height: 3rem;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  background: #256ce1;
  color: #fff;
}

.errmsg {
  margin: .5rem auto;
  background: #c70038b0;;
  border-radius: 10px;
  width: 90%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.singup-label{
  width: 100%;
  font-size: medium;
  position: absolute;
  right: 0%;
  top: 80%;
  transform: translate(2%, -50%);
}

@media screen and (max-width: 1000px) {
  .form-login-container {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .form-login-container {
    width: 80%;
    height: 25rem;
}
}


@media screen and (max-width: 480px) {
    .form-login-container {
        font-size: 1.2rem;
      width: 95%;
    }
  }
  